.Button {
  color: white;
  background: none;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  border: 2px solid white;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
}
.Button:hover{
  color: white;
  background-color: black;
  border: 2px solid black;
  transition: all 0.5s ease-in-out 0s;
}