@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
  box-sizing: border-box;
}
body {
  background-color: rgb(73,12,61);
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  background-color: rgb(73,12,61);
  color: white;
}

.App {
  background-color: rgb(54, 12, 46);
  padding: 20px 20px;
  margin: 0 10px;
  border-radius: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin: 5px 0px;
}
nav {
  margin-left: 10px;
  display: flex;
  justify-content: right;
}
.logout {
  margin-right: 0px !important;
}
.logout button {
  margin-right: 0px !important;
}
nav.login-register {
  padding-left: 10px;
}
p {
  margin: 10px 0;
}

input {
  margin: 10px 0;
  width: 100%;
  padding: 10px 5px;
  border: none;
}
button {
  padding: 10px 10px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  border: none;
  transition: all 0.5s ease-in-out 0s;
  
}

a {
  margin-right: 10px;
  color: rgb(34, 231, 172);
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}
a:hover {
  color: rgb(255, 38, 0);
}
ul{
  margin-left: 20px;
  padding: 0;
}
li {
  list-style-type: decimal;
  margin-top: 10px;
}

.wordStat{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(27, 25, 25);
}

.translation {
  color: green;
}
.correct {
  color: rgb(38, 223, 31);
}
.incorrect {
  color: rgb(189,30,81);
}

.fa-check-circle {
  color: green;
}
.learnLink {
  background-color: rgb(29, 26, 26);
  padding: 8px 12px;
  font-size: 1.2em;
}
.learnLink:hover{
  background-color: rgb(15, 14, 14);
}

.langhead {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.nextword {
  font-size: 1.5em;
  color: rgb(241,184,20);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: black;
  padding: 5px 10px;
}
#learn-guess-input {
  margin-top: 10px;
}
.login-register {
  float: right;
}
.errMsg {
  color: rgb(245, 29, 29);
  font-size: 0.9em;
}

.logo {
  color: rgb(241,184,20);
}
@media only screen and (min-width: 490px) {
  .account-question {
    display: inline;
  }
}

